// Customized styles
//
// 0. General
// 1. Navigation & Footer
// 2. Participation
// 3. Custom pages
//

// 0. General
// ==========================

a:focus {
  outline: 3px solid $third;
}

.button {
  color: $text;
  font-weight: bold;

  &:hover {
    background: $third;
    color: $text;
  }
}

.home-page-steps {

  a,
  .number {
    color: $link;
  }
}

.home-page .card,
.custom-page .card {

  a {
    background: $brand;
  }

  .phase,
  .completed {
    color: $text;
  }

  h4:last-child,
  p:last-child {
    color: $text;
    text-decoration: underline;
  }

  &.budget .description::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $brand 50%);
  }
}

.feed-content .feed-description a {
  color: $link;
}

// 1. Navigation & Footer
// ==========================

.top-bar-title {
  background: #fff;

  &::before {
    content: none;
  }
}

.subnavigation {
  background: $brand;

  .dropdown {

    &.menu > li {

      &.is-active > a {
        color: $text;
      }
    }
  }

  a {

    &:hover,
    &.is-active {
      color: $text;
      text-decoration: underline;
    }
  }
}

footer {
  color: $text;
}

.footer {
  background: #fff;
  border-top: 4px solid $brand;
  color: $text;

  a,
  .social a {
    color: $text;

    &:hover {
      color: $text;
      text-decoration: underline;
    }
  }

  .social {

    [class^="fa"] {
      color: $text;
      font-size: rem-calc(40);
      text-align: center;
      width: auto;
    }

    a {
      display: inline-block;
      font-size: rem-calc(20);
      line-height: rem-calc(40);
      vertical-align: top;
    }
  }
}

.subfooter {

  > .column {
    padding-top: $line-height / 3;
  }

  > .column ~ .column {
    padding-top: 0;
  }
}

// 2. Participation
// ==========================

.proposal-show .supports .button-support,
.proposal .supports .button-support {
  color: $text;
}

// 3. Custom pages
// ==========================

.custom-page {

  .button {

    &.warning {
      background-color: $third;
    }
  }
}
