// Custom settings
// Add custom variables in this file. For example, define a new variable
// called `$important-link` which you can use in your custom CSS files.
//
// To override existing variables, use the file named
// `_consul_custom_overrides.scss` instead

$brand:             #009de0;
$brand-secondary:   #0076a8;
$third:             #75ad3f;

$link:              $brand-secondary;
$budget:            $brand;
